<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <title>Affan Qureshi by affan00</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
<section class="page-header">
    <a class="project-name" href="{{site.baseurl}}/index.html">Affan Qureshi</a>
    <h2 class="project-tagline"></h2>
    <h2 class="page-description icons">

        <a href="http://github.com/fteem">
            <i class="fa fa-github fa-2x"></i>
        </a>

        <a href="http://twitter.com/fteem">
            <i class="fa fa-twitter fa-2x"></i>
        </a>

        <a href="https://linkedin.com/in/ieftimov">
            <i class="fa fa-linkedin fa-2x"></i>
        </a>

        <a href="mailto:ileeftimov+blog@gmail.com">
            <i class="fa fa-envelope fa-2x"></i>
        </a>
    </h2>
</section>
<header>
{% include nav.html %}

</header>
{{content}}

</body>
</html>
